{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <table border="1px">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Position</th>
                <th>Is Dismissed</th>
                <th>Dismissal Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.position.title }}</td>
                <td>{{ user.is_dismissed }}</td>
                <td>{{ user.dismissal_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}